<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Asynchnons Fractal Generation</title>
    <style type="text/css" media="screen">
      img {
        border: 0px;
        margin: 0px;
        padding: 0px;
        height: <%= 360/params["side"] %>px;
        width: <%= 360/params["side"] %>px;
      }
      #fractal {
        height: 360px;
        width: 360px;
        margin-right: auto;
        margin-left: auto;
      }
    </style>
  </head>
    <div id="fractal">
      <% params["side"].to_i.times do |i| %>
        <% params["side"].to_i.times do |j| %><img src="snowflake<%= "#{j}.#{params["side"]-(i+1)}.png" %>" /><% end %>
      <br />
      <% end %>
    </div>
    <a href="start/<%= params["side"] %>">Restart</a>
  </body>
</html>
