<html>
  <head>
    <style>
      table, tr, td, tbody, img {
        border: 0px;
        margin: 0px;
        padding: 0px;
      }
      img {
        height: 120px;
        width: 120px;
      }
    </style>
  </head>
  <body>
    <table>
       <tr>
        <td><img src="snowflakes0.2.png" /></td>
        <td><img src="snowflakes1.2.png" /></td>
        <td><img src="snowflakes2.2.png" /></td>
       </tr>
       <tr>
        <td><img src="snowflakes0.1.png" /></td>
        <td><img src="snowflakes1.1.png" /></td>
        <td><img src="snowflakes2.1.png" /></td>
       </tr>
       <tr>
        <td><img src="snowflakes0.0.png" /></td>
        <td><img src="snowflakes1.0.png" /></td>
        <td><img src="snowflakes2.0.png" /></td>
       </tr>
    </table>
    <a href="restart">Restart</a>
  </body>
<html>
