<html>
  <head>
    <style>
      table, tr, td, tbody, img {
        border: 0px;
        margin: 0px;
        padding: 0px;
      }
      img {
        height: 120px;
        width: 120px;
      }
    </style>
  </head>
  <body>
    <table>
       <tr>
        <td><img src="snowflake0.2.png" /></td>
        <td><img src="snowflake1.2.png" /></td>
        <td><img src="snowflake2.2.png" /></td>
       </tr>
       <tr>
        <td><img src="snowflake0.1.png" /></td>
        <td><img src="snowflake1.1.png" /></td>
        <td><img src="snowflake2.1.png" /></td>
       </tr>
       <tr>
        <td><img src="snowflake0.0.png" /></td>
        <td><img src="snowflake1.0.png" /></td>
        <td><img src="snowflake2.0.png" /></td>
       </tr>
    </table>
    <a href="start">Restart</a>
  </body>
<html>
